@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.wrapper{
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}
header{
    background-color:   #181818;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}
#jordan-shoes{
    text-align: center;
    padding: 7px;
}
#banner{
    width: 100%;
    padding: 125px 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(./Air-Jordan-1-Retro-High-OG-Wmns-TWIST-Feminino\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.texto-principal{
    color: #fff;
}
.texto-principal > p{
    margin-top: 19px;
}